body {
  background-color: darkcyan;
}

{
  padding: 0;
  margin: 0;

}
.about{
  width: auto;
  display: inline-block;
  
}

 .btn {
  width: 100%;
  display: inline-blsock;
  text-align: center;
 }
