body {
  background-color:rgb(150, 85, 211)
}

.about{
  width: auto;
  display: inline-block;
  text-align: center;
}

 .btn {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
 }

 .all {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 45%;
  padding: 40px 0;
  text-align: center;
  color: #fff;
  font-weight: bold;
 }

 
